*{
    background-color: black;
    color: seashell;
}

.container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(69px,auto) 700px minmax(700px,auto) minmax(500px,auto) 200px 69px;
    grid-template-columns: 100%;
    text-align: center;
    grid-template-areas: 
    "navBar"
    "ourMission"
    "teaOfTheMonth"
    "locations"
    "contact"
    "copyright"
}

.cell {
}

/* NAVBAR AREA */

.navBar {
    grid-area: navBar;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.navBar img{
    width: auto;
    height: 50px;
}

.navBar section {
    display: inline-flex;
    min-width: 25%;
    justify-content: space-between;
    align-items: center;
}

.navBar a {
    padding: 10px;
}

/* OUR MISSION AREA */

.ourMission {
    grid-area: ourMission;
    background-image: url(Images/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-content: center;
}

.ourMission header {
   width: 100%;
   height: max-content;
   text-align: center;
}

/* TEA OF THE MONTH AREA */

.teaOfTheMonth {
    grid-area: teaOfTheMonth;
    display: grid;
    grid-template-rows: minmax(1fr,150px) 5fr;
    grid-template-columns: 100%;   
}

.teaOfTheMonth section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: top;
}

.teaOfTheMonth article {
    width: max-content;
    height: max-content;
    margin: 0.5% 1%;
}

.teaOfTheMonth h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.teaOfTheMonth img {
    height: 200px;
    width: 300px;
}


/* LOCATIONS AREA */ 

.locations {
    grid-area: locations;
    background-image: url(Images/img-locations-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.locations header,
.locations h2 {
    background-color: transparent;
}

.locations header {
    align-self: end;
}

.locations article {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    background-color: transparent;
}


.locations article div {
    height: max-content;
    width: 300px;
    padding: 2%;
    margin: 5px 40px;
}

/* CONTACT AREA */

.contact {
    grid-area: contact;
}

.contact h2 {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* COPYRIGHT AREA */

.copyright {
    grid-area: copyright;
}

.copyright h5 {
    text-align: left;
    padding-left: 20px;
}

/* NARROW SCREEN SIZE */

@media only screen and (max-width: 700px) {
    .locations article {
        flex-direction: column;
        justify-content: flex-end;
        margin: 20px auto;
        align-content: space-between;
    }
    .ourMission h4 {
        font-size: 0.8em;
    }
   
}